/* LOGO */
@keyframes small {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes smallReverse {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes bigOne {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

/* SOCIAL */
@keyframes social {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
